LFM4UL_1020/macskakLFM4UL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="macskak">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="macska" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nev" type="xs:string"/>
						<xs:element name="kor" type="xs:int"/>
						<xs:element name="fajta" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
		</xs:element>

</xs:schema>