LFM4UL_1110/xPathLFM4UL/studentLFM4UL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="student" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="keresztnev" type="xs:string"/>
						<xs:element name="vezeteknev" type="xs:string"/>
						<xs:element name="becenev" type="xs:string"/>
						<xs:element name="kor" type="xs:int"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
		</xs:element>

</xs:schema>